<div class="container">
  <div class="row">
    <table class="table table table-bordered">
      <tr>
        <th class="table-active">購入者</th>
        <td><%= @order.name %></td>
        </td>
      </tr>
      <tr>
        <th class="table-active">注文日</th>
        <td><%= l @order.created_at, format: :short%></td>
      </tr>
      <tr>
        <th class="table-active">配送先</th>
        <td><%= "〒" + @order.postal_code + @order.address + @order.name %></td>
      </tr>
      <tr>
        <th class="table-active">支払方法</th>
        <td>
          <% if @order.payment_method == "credit_card" %>
            クレジットカード
          <% else %>
            銀行振込
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="table-active">注⽂ステータス</th>
        <td>
          <%= form_with(model:@order, url:admin_order_path(@order), method: :PATCH) do |f| %>
            <%= f.select :status, options_for_select([['入金待ち', "0"], ['入金確認', "1"], ['製作中', "2"], ['発送準備中', "3"], ['発送済み', "4"]], { :selected => @order.status}) %>
            <%= f.submit '更新',class:"btn btn-success" %>
          <% end %>
        </td>
      </tr>
    </table>
    
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th scope="col">商品名</th>
          <th scope="col">単価</th>
          <th scope="col">個数</th>
          <th scope="col">小計</th>
          <th scope="col">制作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order_posts.each do |order_post| %>
          <tr>
            <td scope="col"><%= order_post.item.name %></td>
            <td scope="col"><%= order_post.price.to_s(:delimited, delimiter: ',') %></td>
            <td scope="col"><%= order_post.amount %></td>
            <td scope="col"><%= (order_post.price * order_post.amount).to_s(:delimited, delimiter: ',') %></td>
            <td scope="col">
              <%= form_with(model:order_post, url:admin_order_post_path(order_post), method: :PATCH) do |f| %>
                <%= f.select :making_status, options_for_select([['制作不可', "0"], ['制作待ち', "1"], ['製作中', "2"], ['製作完了', "3"]], { :selected => order_post.making_status }) %>
                <%= f.submit '更新',class:"btn btn-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-bordered">
      <tr>
        <th scope="col" class="table-active w-50">商品合計</th>
        <td scope="col"><%= @sum = (@order.total_payment - @order.shipping_cost).to_s(:delimited, delimiter: ',') %>円</td>
      </tr>
      <tr>
        <th scope="col" class="table-active">送料</th>
        <td scope="col"><%= @order.shipping_cost.to_s(:delimited, delimiter: ',') %>円</td>
      </tr>
      <tr>
        <th scope="col" class="table-active">ご請求金額</th>
        <td scope="col"><%= @order.total_payment.to_s(:delimited, delimiter: ',') %>円</td>
      </tr>
    </table>
  </div>
</div>